/*
    the body's background color should change according to which page in the navbar is open
*/

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

body {
    background-color: #f3f5f9;
    display: flex;
    align-items: stretch;
}

/* NAVIGATION */
.side-nav-bar {
    width: 100px;
    height: 100vh;
    margin-inline-end: 1em;
}

.side-nav-bar ul li {
    display: flex;
    justify-content: center;
    margin: 1em 0 1em;
    padding: 30px 10px;
    border-radius: 0 10px 10px 0;
}

.nav-home {
    background-color: #D9D9D9;
}

.nav-art {
    background-color: #CFA5B4;
}

.nav-projects {
    background-color: #A2BAD0;
}

.nav-contact {
    background-color: #A4CBB1;
}

/* MAIN */
.main-content {
    width: 100%;
    margin-inline-start: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #D9D9D9;
    border-radius: 10px 0 10px 10px;
    padding: 2em;
}

/* INTRODUCTION */
.introduction {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*FIXME: how to make the width fit the screen but also be on the same row as the pfp?*/
.intro-sentence {
    margin: 1em;
    background-color: #E6E6E6;
    padding: 1em;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    
}

.pfp {
    display: flex;
    align-self: center;
    margin: 1em;
    padding: 1em;
    height: 100%;
    background-color: #E6E6E6;
}
/* PROFESSIONAL SKILLS */
.professional-skills {
    background-color: #E6E6E6;
    margin: 1em;
}

.row-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.current-position {
    margin: 1em;
}

.skills {
    margin: 1em;
    padding: 1em;
    background-color: #CFA5B4;
}

.programming {
    display: flex;
    flex-direction: column;
}

.programming-langs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tools {
    display: flex;
    flex-direction: column;
}

.tools-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}